@using GameOfLife.Models

@inject GameOfLife.Services.GameOfLifeService GameOfLife

@code
{
    protected override void OnInitialized()
    {
        GameOfLife.OnGameStateUpdate += StateHasChanged;
    }
}

<div class="grid-container">
    <div class="grid">
        @for (int row = 0; row < GameOfLife.Rows; row++)
        {
            for (int column = 0; column < GameOfLife.Columns; column++)
            {
                int currentRow = row;
                int currentColumn = column;

                <div class="cell @(GameOfLife.Generation.Cells[row, column].CurrentState == CellState.Alive ? "alive" : "")" @onclick="(() => GameOfLife.ToggleCell(currentRow, currentColumn))"></div>
            }
        }
    </div>
</div>
