.grid-container {
    display: inline-block;
    background-color: #181818;
    border: 5px solid #181818;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(100, 16px);
    grid-template-rows: repeat(100, 16px);
    gap: 2px;
}

.cell {
    cursor: pointer;
    background-color: white;
}

.cell:hover {
    background-color: lightgreen;
}

.alive {
    background-color: green;
}

.alive:hover {
    background-color: darkgreen;
}
