@using GameOfLife.Components.Icons

<div class="icon-panel">
    <ImageButton Url="https://github.com/danielkean/game-of-life-blazor" ImageColor="#181818"><CodeIcon/></ImageButton>
    <ImageButton Url="https://en.wikipedia.org/wiki/Conway's_Game_of_Life" ImageColor="#181818"><InfoIcon/></ImageButton>
    <ImageButton Url="https://danielkean.com" ImageColor="#181818"><UserIcon/></ImageButton>
</div>
