@code {
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public string ImageColor { get; set; } = "black";
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
}

@if (Url != String.Empty)
{
    <a href=@Url>
        <div style="color:@ImageColor">
            @ChildContent
        </div>
    </a>
}
else
{
    @ChildContent
}
